body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.cards-container {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2% 2%;
  background-image: linear-gradient($cardBg, $white);
  padding: 8vw 0 13vw 0;

  @include medium {
    height: 35vh;
  }

  @include small {
    height: auto;
    width: 100%;
    padding-bottom: 2%;
  }
}

.card {
  background-color: $white;
  width: 24%;
  height: 15vw;
  border-radius: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 2vh 0 2vh 0;
  margin-bottom: 1.1%;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
  transition: all 0.5s ease;

  @include small {
    width: 75%;
    height: 50vw;
    margin-bottom: 5%;
  }

  h2 {
    color: $headerGray;
    padding-top: 10%;
    font-family: $paragraph;
    font-size: 1.8vw;

    @include small {
      font-size: 6vw;
    }
  }

  h4 {
    font-family: 'Lato', sans-serif;
    color: $subtextGray;
    font-size: 0.9vw;

    @include small {
      font-size: 3vw;
    }
  }

  &:hover {
    cursor: pointer;
    transform: translate(0, -10px);
    border-top: 3px solid red;
    .card-btn {
      display: block;
    }

    h2 {
      color: $brown;
    }

    h4 {
      color: $subtextHover;
    }
  }
}

.odd {
  display: flex;
}

.card-btn {
  display: none;
  margin-bottom: 3%;
}
