@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");
body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.cards-container {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2% 2%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eff1f5), to(white));
  background-image: linear-gradient(#eff1f5, white);
  padding: 8vw 0 13vw 0;
}

@media (max-width: 1023px) {
  .cards-container {
    height: 35vh;
  }
}

@media (max-width: 768px) {
  .cards-container {
    height: auto;
    width: 100%;
    padding-bottom: 2%;
  }
}

.card {
  background-color: white;
  width: 24%;
  height: 15vw;
  border-radius: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2vh 0 2vh 0;
  margin-bottom: 1.1%;
  text-align: center;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 1023px) {
  .card {
    width: 35%;
  }
}

@media (max-width: 768px) {
  .card {
    width: 55%;
    height: 29vw;
    margin-bottom: 3%;
  }
}

.card h2 {
  color: #aaaeb6;
  padding-top: 10%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8vw;
}

@media (max-width: 768px) {
  .card h2 {
    font-size: 17px;
  }
}

.card h4 {
  font-family: 'Lato', sans-serif;
  color: #868392;
  font-size: 0.9vw;
}

@media (max-width: 768px) {
  .card h4 {
    font-size: 9px;
  }
}

.card:hover {
  cursor: pointer;
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
  border-top: 3px solid red;
}

.card:hover .card-btn {
  display: block;
}

.card:hover h2 {
  color: #e3d2bd;
}

.card:hover h4 {
  color: #435368;
}

.odd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-btn {
  display: none;
  margin-bottom: 3%;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../media/mountain-background_50.jpeg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 50%;
  width: auto;
  height: 35%;
  color: white;
  background-size: cover;
}

@media (max-width: 768px) {
  .header-container {
    height: 650px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-position-y: 25%;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 5% 1% 8%;
  height: 15%;
  width: 100%;
  font-family: "Raleway", sans-serif;
  color: white;
}

.navbar .nav-links {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.1vw;
  margin-right: 5%;
}

@media (max-width: 1023px) {
  .navbar .nav-links {
    font-size: 1.34vw;
  }
}

@media (max-width: 768px) {
  .navbar .nav-links {
    font-size: 3.2vw;
  }
}

.navbar .nav-logo {
  font-size: 1.4vw;
  margin-left: 5%;
}

@media (max-width: 1023px) {
  .navbar .nav-logo {
    font-size: 1.9vw;
  }
}

@media (max-width: 768px) {
  .navbar .nav-logo {
    font-size: 3.5vw;
  }
}

.navbar .nav-home-away {
  color: white;
  text-decoration: none;
}

.navbar .nav-home-away:hover {
  color: #fdecca;
}

@media (max-width: 768px) {
  .navbar .nav-home-away {
    padding-right: 25%;
  }
}

.navbar #design {
  color: #fdecca;
  font-weight: 100;
}

.navbar #home {
  color: #fdecca;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .title {
    height: 300px;
    padding-bottom: 22%;
  }
}

.header-title {
  font-family: "Gelasio", serif;
  font-size: 2.6vw;
  margin-bottom: 0;
}

@media (max-width: 1023px) {
  .header-title {
    font-size: 3vw;
  }
}

@media (max-width: 768px) {
  .header-title {
    position: relative;
    font-size: 40px;
    margin-top: 10%;
  }
}

.description {
  width: 39%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1vw;
}

@media (max-width: 1023px) {
  .description {
    font-size: 1.6vw;
  }
}

@media (max-width: 768px) {
  .description {
    font-size: 19px;
    width: 66%;
    margin-top: 8%;
  }
}

.btn-group button {
  font-size: 0.8vw;
  margin-top: 8%;
  margin-bottom: -5.5%;
  color: white;
  background-color: #646072;
  padding: 1vw 3.2vw;
  float: left;
  cursor: pointer;
  border: none;
  font-weight: 300;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
}

.btn-group button:hover {
  background-color: #484553;
}

@media (max-width: 1023px) {
  .btn-group button {
    font-size: 1vw;
  }
}

@media (max-width: 768px) {
  .btn-group button {
    padding: 2.1vw 3.2vw;
    font-size: 2.3vw;
  }
}

#checked {
  background-color: #fdecca;
  padding: 1.2vw 3.2vw;
  color: #868392;
  font-weight: 900;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 2px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 2px 0px;
  margin-top: 7.5%;
}

@media (max-width: 1023px) {
  #checked {
    font-size: 1vw;
  }
}

@media (max-width: 768px) {
  #checked {
    padding: 2.3vw 3.2vw;
    font-size: 2.3vw;
  }
}
/*# sourceMappingURL=styles.css.map */