@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");
body {
  margin: 5vh 0 5vh 5vh;
}

.cards-container {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2% 2%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eff1f5), to(white));
  background-image: linear-gradient(#eff1f5, white);
  padding: 8vh 0 8vh 0;
}

.card {
  background-color: white;
  width: 25%;
  height: 50%;
  border-radius: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2vh 0 2vh 0;
  margin-bottom: 2vh;
  text-align: center;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../media/mountain-background_50.jpeg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 50%;
  width: 100%;
  height: 40vh;
  color: white;
  background-size: cover;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 5% 1% 8%;
  height: 15%;
  width: 100%;
  font-family: "Raleway", sans-serif;
  color: white;
}

.navbar .nav-links {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.5vh;
}

.navbar .nav-logo {
  font-size: 2.5vh;
}

.navbar .nav-home-away {
  color: white;
  text-decoration: none;
}

.navbar .nav-home-away:hover {
  color: #fdecca;
}

.navbar #design {
  color: #fdecca;
  font-weight: 100;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-title {
  font-family: "Gelasio", serif;
  font-size: 5vh;
  margin-bottom: 0;
}

.description {
  width: 45%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.65vh;
}

.btn-group button {
  color: white;
  background-color: #646072;
  padding: 1.7vh 3.4vh;
  float: left;
  cursor: pointer;
  border: none;
}

.btn-group button:hover {
  background-color: #484553;
}
/*# sourceMappingURL=styles.css.map */