@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
@import './variables.scss';
@import './cards';

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../media/mountain-background_50.jpeg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 50%;
  width: 100%;
  height: 35%;
  color: $white;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5% 1% 8%;
  height: 15%;
  width: 100%;
  font-family: $nav;
  color: $white;

  .nav-links {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.1vw;
    margin-right: 5%;

    @include medium {
      font-size: 1.34vw;
    }
    @include small {
      font-size: 1.7vw;
    }
  }

  .nav-logo {
    font-size: 1.4vw;
    margin-left: 5%;

    @include medium {
      font-size: 1.9vw;
    }
    @include small {
      font-size: 2.3vw;
    }
  }

  .nav-home-away {
    color: $white;
    text-decoration: none;
    &:hover {
      color: $beige;
    }
  }

  #design {
    color: $beige;
    font-weight: 100;
  }

  #home {
    color: $beige;
  }
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-title {
  font-family: $title;
  font-size: 2.6vw;
  margin-bottom: 0;

  @include medium {
    font-size: 3vw;
  }
}

.description {
  width: 39%;
  text-align: center;
  font-family: $paragraph;
  font-weight: 400;
  font-size: 1vw;
  margin-bottom: 4%;

  @include medium {
    font-size: 1.6vw;
  }

  @include small {
    font-size: 1.9vw;
  }
}

.btn-group button {
  font-size: 0.8vw;
  margin-top: 8%;
  margin-bottom: -5.5%;
  color: $white;
  background-color: $gray;
  padding: 1vw 3.2vw;
  float: left;
  cursor: pointer;
  border: none;
  font-weight: 300;
  &:hover {
    background-color: $darkGray;
  }

  @include medium {
    font-size: 1vw;
  }

  @include small {
    padding: 1.4vw 3vw;
    font-size: 1.8vw;
  }
}
#checked {
  background-color: $beige;
  padding: 1.2vw 3.2vw;
  color: $subtextGray;
  font-weight: 900;

  @include medium {
    font-size: 1vw;
  }

  @include small {
    padding: 1.6vw 3vw;
    font-size: 1.8vw;
  }
}
