// ========COLORS==================================================================
$white: white;
$beige: rgb(253, 236, 202);
$gray: #646072;
$darkGray: rgb(72, 69, 83);

// ========FONTS==================================================================
$nav: 'Raleway', sans-serif;
$title: 'Gelasio', serif;
$paragraph: 'Open Sans', sans-serif;
