// ========COLORS==================================================================
$white: white;
$beige: rgb(253, 236, 202);
$gray: rgb(105, 101, 121);

// ========FONTS==================================================================
$nav: 'Raleway', sans-serif;
$title: 'Gelasio', serif;
$paragraph: 'Open Sans', sans-serif;
