// ========COLORS==================================================================
$white: white;
$beige: rgb(253, 236, 202);
$brown: rgb(227, 210, 189);
$gray: #646072;
$darkGray: rgb(72, 69, 83);
$cardBg: rgb(239, 241, 245);

// ========FONTS==================================================================
$nav: 'Raleway', sans-serif;
$title: 'Gelasio', serif;
$paragraph: 'Open Sans', sans-serif;
